@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "chat")">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "notification")">
                    <span class="glyphicon glyphicon-bell"></span>
                </a>
            </li>
            <li>

                @Ajax.ActionLink("Requests", "allFreindRequests", "User", routeValues: new { user = User.Identity.GetUserId() }, ajaxOptions: new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "FriendRequestsDiv", OnSuccess = "FriendRequestDiv()" }, htmlAttributes: new { })

            </li>


            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }

    <div id="FriendRequestsDiv" style="position:relative;left:43%;top:-10px; width:40%; color:black;">
    </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
